/*CSS for Personal site */
/*Saman Attar*/

/* spacing out the navbar */
.navbar-nav > li{
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 0px;
}
.navbar{
	margin-bottom: 0px;
}

/*englaring the icons*/
.fa{font-size:150%;}



.headwrap{
  width: 100%;
  height: 450px; /*same height as jumbotron */

  background: url('https://images.unsplash.com/photo-1468768649734-ddebcf0b0bc4?dpr=0.6666666865348816&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=') no-repeat center center;
  background-size: cover;
  top:0;
  left:0;
  z-index: -1;
}

/*h1 is my name*/
h1{ 
text-align: center;
margin-bottom:5px;

}
/*holds the quote/email/name*/
#footerwrap {
  font-family: 'Lora', serif;
  padding-top: 0px;
  padding-bottom: 0px;

}

#quote{
  font-family: 'Lora', serif;
  text-align: center;
  font-size:120%;
}

#email, .fa-envelope{
  text-align: center;
  font-size: 25px;
  margin-top: .5em;
  margin-bottom: .5em;
  color:black;
}

